<div class="row" style="flex-direction: column; width: 80vw;">
  <h2>My tasks</h2>

  <div class="for-form">
    <input id="new-task" #taskTitle />

    <!-- (click) passes input value to add() and then clears the input -->
    <button class="add-button" (click)="addTask(taskTitle.value); taskTitle.value=''">
      Add task
    </button>
  </div>

  <div class="row">
    <div class="col-6">
      <ul class="tasks">
        <li *ngFor="let task of tasks | taskFilter:filterargs">

          <span><input type="checkbox" [checked]="task.executed" (click)="isExecuted(task)"> {{task.title}}</span>

          <button class="delete" title="delete task"
                  (click)="deleteTask(task)">x</button>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <ul class="tasks-del">
        <li *ngFor="let task of tasks | taskFilterDel:filterargs">

          <span> {{task.title}}</span>

          <span style="font-size: 0.7em">Supprimé : {{task.deleted}}</span>
        </li>
      </ul>
    </div>
  </div>

</div>
